<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>redex</title>
    <link rel="icon" type="image/png" href="./image/logo-redex-removebg-10.png">
    <link rel="stylesheet" href="./style/home.css" />
    <link rel="stylesheet" href="./style/scroll.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            class="logo-redex-removebg-1"
            src="./image/logo-redex-removebg-10.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                style="color: #ed3d3f !important; font-weight: 700"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Product & Solution</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="banner-home">
            <div class="banner-container">
              <div class="banner-l">
                <div class="banner-title">
                  <h1>IT Solution Provider</h1>
                  <p>
                    We are expert in providing broadrange of IT Solution Network
                    (Wired&Wireless), NextGen Security Solution, Cloud Virtualization.
                    - As a True Total IT Solution Provider
                  </p>
                </div>
                <div class="banner-button" style="width: 310px;">
                  <div class="banner-icon">
                    <img src="./image/btn-light.png" alt="" />
                  </div>
                  <h3>Smart Light</h3>
                  <p>Control the lighting system.</p>
                </div>
                <div class="banner-brands">
                  <h2>Trusted by Leading Brands</h2>
                  <div class="logo-brands">
                    <img src="./image/logobrands/icons_cisco.png" alt="" />
                    <img src="./image/logobrands/icons_junipernetworks.png" alt="" />
                    <img src="./image/logobrands/grommet-icons_aruba.png" alt="" />
                  </div>
                </div>
              </div>
      
              <div class="banner-r">
                <div class="circle">
                  <img src="./image/provider-10.png" alt="" />
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item">

          <div class="banner-home">
            <div class="banner-container">
              <div class="banner-l">
                <div class="banner-title">
                  <h1>Consultant Service</h1>
                  <p>
                    Our Expert Team provides Consultant Service 
                    to our client, to assess, analyze and Gap 
                    Analysis, recommendations along with Master 
                    Plan. To help, our client meet their Business 
                    Target.
                  </p>
                </div>
                <div class="banner-button" style="width: 400px;">
                  <div class="banner-icon">
                    <img src="./image/btn-consult.png" alt="" />
                  </div>
                  <h3>Expert Team</h3>
                  <p>Analyze and develop  with Master Plan.</p>
                </div>
                <div class="banner-brands">
                  <h2>Trusted by Leading Brands</h2>
                  <div class="logo-brands">
                    <img src="./image/logobrands/McAfee.png" alt="" />
                    <img style="width: 140px; height: 140px;" src="./image/logobrands/ruckus.png" alt="" />
                    <img style="width: 160px; height: 40px;" src="./image/logobrands/paloalto.png" alt="" />
                  </div>
                </div>
              </div>
      
              <div class="banner-r">
                <div class="circle">
                  <img src="./image/img_banner2.png" alt="" />
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item">

          <div class="banner-home">
            <div class="banner-container">
              <div class="banner-l">
                <div class="banner-title">
                  <h1>AI - IOT - Big Data</h1>
                  <p>
                    Artificial Intelligent + Internet of Things + Big Data is 
                    the new combination to drive the business success. We 
                    provide tailor made Application, Devices and Platform to 
                    drive our client's "NOW FUTURE" business.
                  </p>
                </div>
                <div class="banner-button" style="width: 500px;">
                  <div class="banner-icon">
                    <img src="./image/btn-AI.png" alt="" />
                  </div>
                  <h3>Devices and Platform</h3>
                  <p>the new combination to drive the business success.</p>
                </div>
                <div class="banner-brands">
                  <h2>Trusted by Leading Brands</h2>
                  <div class="logo-brands">
                    <img src="./image/logobrands/icons_dell.png" alt="" />
                    <img src="./image/logobrands/fontisto_oracle.png" alt="" />
                    <img src="./image/logobrands/icons_vmware.png" alt="" />
                  </div>
                </div>
              </div>
      
              <div class="banner-r">
                <div class="circle">
                  <img src="./image/img_banner3.png" alt="" />
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item">

          <div class="banner-home">
            <div class="banner-container">
              <div class="banner-l">
                <div class="banner-title">
                  <h1>Site Preparation</h1>
                  <p>
                    Cablings, Wirings, Electrical Power-Line or even Building 
                    Complete Set Datacenter Room Foundation of IT Infrastructure.
                    We provide well Planned with Cost Effective Flexible Solution 
                    to our Client to meet their IT Requirement.
                  </p>
                </div>
                <div class="banner-button" style="width: 490px;">
                  <div class="banner-icon">
                    <img src="./image/btn-site.png" alt="" />
                  </div>
                  <h3>Datacenter Room</h3>
                  <p>Cost Effective Flexible Solution for IT Requirement.</p>
                </div>
                <div class="banner-brands">
                  <h2>Trusted by Leading Brands</h2>
                  <div class="logo-brands">
                    <img src="./image/logobrands/cbi_abb-radio.png" alt="" />
                    <img src="./image/logobrands/APC 1.png" alt="" />
                    <img src="./image/logobrands/fontisto_oracle.png" alt="" />
                  </div>
                </div>
              </div>
      
              <div class="banner-r">
                <div class="circle">
                  <img src="./image/img_banner4.png" alt="" />
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item">

          <div class="banner-home">
            <div class="banner-container">
              <div class="banner-l">
                <div class="banner-title">
                  <h1>Software R&D</h1>
                  <p>
                    Our Software R&D Team provide most Flexible Application 
                    Delivery with limitless Ability to Interopt&Integrate or 
                    provide Sophisticated Application to match most of our 
                    Client's Business Needs. - In any Platform.
                  </p>
                </div>
                <div class="banner-button" style="width: 550px;">
                  <div class="banner-icon">
                    <img src="./image/btn-R&D.png" alt="" />
                  </div>
                  <h3>Application Delivery</h3>
                  <p>CApplication to match most of our Client's Business Needs.</p>
                </div>
                <div class="banner-brands" style="width: 490px;">
                  <h2>Trusted by Leading Brands</h2>
                  <div class="logo-brands">
                    <img src="./image/logobrands/f7_logo-microsoft.png" alt="" />
                    <img src="./image/logobrands/icons_veeam.png" alt="" />
                    <img src="./image/logobrands/icons_nutanix.png" alt="" />
                  </div>
                </div>
              </div>
      
              <div class="banner-r">
                <div class="circle">
                  <img src="./image/img_banner5.png" alt="" />
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item">

          <div class="banner-home">
            <div class="banner-container">
              <div class="banner-l">
                <div class="banner-title">
                  <h1>Total Care Services</h1>
                  <p>
                    Our Professional Team provide "Total Care Service" 
                    "Corrective Maintenance" and "Analysis - Review - Report" 
                    Elements to help our Client's Business Continuity. With 
                    "TRUST"
                  </p>
                </div>
                <div class="banner-button" style="width: 390px;">
                  <div class="banner-icon">
                    <img src="./image/btn-services.png" alt="" />
                  </div>
                  <h3>Professional Team</h3>
                  <p>help our Client's Business Continuity.</p>
                </div>
                <div class="banner-brands">
                  <h2>Trusted by Leading Brands</h2>
                  <div class="logo-brands">
                    <img src="./image/logobrands/icons_cisco.png" alt="" />
                    <img src="./image/logobrands/cbi_abb-radio.png" alt="" />
                    <img src="./image/logobrands/APC 1.png" alt="" />
                  </div>
                </div>
              </div>
      
              <div class="banner-r">
                <div class="circle">
                  <img src="./image/img_banner6.png" alt="" />
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- banner -->

    <div class="bg-into">
      <div class="into-container">
        <div class="into-title">
          <h1>Get to know what we do</h1>
          <p>
            We are a Rapid Growing Information Technology Solution Provider
            company established in 2016, focuses on highly flexible, timely
            delivered and cost-effective Products and Services. We offer
            consulting services and providing broad range of end-to-end solution
            which fits with all business needs.
          </p>
          <div class="into-button">
            <h3>SEE CLODER WHAT WE DO</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- into -->

    <div class="bg-partner">
      <div class="partner-container">
        <div class="partner-title">
          <h2>Our Partners</h2>
        </div>
        <div class="partner">
          <div class="partner-1">
            <img src="./image/partner-group-1.png" alt="">
            <h2>Borderless Network</h2>
          </div>

          <div class="partner-2">
            <img src="./image/partner-group-2.png" alt="">
            <h2>Security</h2>
          </div>

          <div class="partner-3">
            <img src="./image/partner-group-3.png" alt="">
            <h2>System Infrastructure</h2>
          </div>

          <div class="partner-4">
            <img src="./image/partner-group-4.png" alt="">
            <h2>Site Preparation</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- partner -->

    <div class="section-home">
      <div class="container-section-home">
        <div class="section-l">
          <img src="./image/layer-img-1.png" alt="">
        </div>
        <div class="section-r">
          <div class="title-section">
            <div class="subtitle-section">
              <div class="box">
              </div>
              <div class="subtitle">
                 <h2>About Us.</h2>
              </div>
            </div>
            <div class="title">
              <h1>"Striving for Excellence"</h1>
              <p>Our unrelenting pursuit of superiority in
                 our goods, amenities, and strategies is for
                 the benefit of our valued clientele.
              </p>
            </div>
            <div class="button-section">
              <div class="icon-button-section">
                <img src="./image/arrow-red.png" alt="">
              </div>
              <h1>
                Get to know us more
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

    <div class="footer">
      <div class="container-footer">
        <div class="name-footer">
          <h2>© COPYRIGHT 2019, RED EXCELLENT CO., LTD.</h2>
        </div>
        <div class="social-footer">
          <div class="title-social">
            <h2>Social Media</h2>
          </div>
          <div class="icon-social-footer">
            <img src="./image/facebook.png" alt="">
            <img src="./image/twitter.png" alt="">
            <img src="./image/www.png" alt="">
          </div>
        </div>
        <div class="sendme-footer">
          <h2>Get in touch</h2>
          <p>You can drop us an <br>
             Email at:contact@redex.co.th
          </p>
        </div>
      </div>
    </div>
    <!-- footer -->

    <button class="scroll" id="scrollToTopBtn"><i class="fa-solid fa-arrow-up"></i></button>
    <!-- scroll to top -->

    <script src="./js/scroll.js"></script>
    <script src="./js/carousel.js" ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
